* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
  --bg: hsl(210, 19%, 22%);

}

body {
  background-color: var(--Very-Dark-Blue);
  font-family: 'Overpass', sans-serif;
  font-size: 14px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  color: var(--White);
  font-size: 1.5rem;
}

.card-1 {
  background-color: var(--Dark-Blue);
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  max-width: 327px;
}

.description {
  line-height: 1.5;
  color: var(--Light-Grey);
  margin: 1rem 0;
}

/* .icon img {
  background-color: hsl(210, 19%, 22%);
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
} */

.icon {
  margin-bottom: 1rem;
  height: 40px;
  width: 40px;
  display: block;
  background-image: url(./images/icon-star.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-color: hsl(210, 19%, 22%);
}

button {
  cursor: pointer;
}

.selection {
  margin: 1.5rem 0 .5rem;
}

.selection button {
  padding: .7rem 1rem 1.9rem;
  height: 30px;
  border: none;
  font-weight: 900;
  border-radius: 50%;
  text-align: center;
  color: var(--Light-Grey);
  background-color: hsl(210, 19%, 22%);
  margin: 0 6px;
}

/*=== hover state=== */
.selection button:hover {
  background-color: var(--Orange);
  color: white;
}

/*=== active state=== */
.selection button:focus {
  background-color: var(--Light-Grey);
  color: var(--White);
}

/* Submit Button */
.submit-btn {
  margin: 1rem 0;
  width: 100%;
  padding: .9rem 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  border: none;
  color: var(--White);
  border-radius: 2rem;
  background-color: var(--Orange);
}

.submit-btn:hover {
  background-color: var(--White);
  color: var(--Orange);
}

.hide {
  display: none;
}


/* ====Thank You State=== */
.card-2 {
  background-color: var(--Dark-Blue);
  max-width: 325px;
  border-radius: 1rem;
}

.icon-2 {
  text-align: center;
  padding: 2rem 0 1.5rem;
}

.selected {
  color: var(--Orange);
  text-align: center;
  background-color: var(--bg);
  padding: .3rem .7rem;
  border-radius: 2rem;
  width: 60%;
  margin: 0 auto;
}

.thank {
  text-align: center;
  margin: 1rem 0 0;
}

.description-2 {
  text-align: center;
  color: var(--Light-Grey);
  padding: 1rem;
  margin-bottom: 1rem;
}








/*=== Attribution=== */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}